<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>W07 Guestbook</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="vyshnavi.css"/> 
</head>
<body   class="container">
       <div class="topnav">
		<a href="info.html">Vyshnavi sri laxmi thannir </a>
		<a  href="Thannir.html">Home</a>
		<a href="YourChoice.html">Calculation</a>
		<a href="Contact.html">Contact</a>
		<a href="index">GuestBook</a>
		
	</div>
<h3 ><mark><i>
Express Guestbook</mark></h3></i></br>
<a align="right" href="/new-entry" class="btn btn-primary pull-right">
Write 
</a>
</h1>
