#txt {
    text-transform:lowercase;
}

	.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
   
    background-color: blue;
	align:center;
}
	
	.img-circle {
    border-radius: 50%;
	max-width:15%;
  max-height:15%;
}
.headder a.youtube {
    background-color: #613246;
    color: white;
	align:center;
}
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: right-side;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #613246;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
footer { 
	text-align:center;
	padding-bottom:10;
    
	}
header h4{ 
	text-align:center;
	padding-bottom:10;
	 border-radius: 25px;
    padding: 30px; 
    width: 1200px;
    height: 10px;

	}
#past-section {
	font-style: italic;	
	font-size: 25px;
	font-family:"Apple Chancery", "cursive";
	}
#future-section{
		font-style: italic;
		font-size: 25px;
		font-family:"Apple Chancery", "cursive";
	}
	
	
.form-group {
	max-width: 500px;
}